WebApplication3/Connected Services/ServiceReference/SendBatch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mh.easyuse.com.tw/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mh.easyuse.com.tw/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mh.easyuse.com.tw/">
      <s:element name="SendTemplate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="owner_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="template_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="group_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="project_category_code" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="send_date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendTemplateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendTemplateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendTemplateWithBlock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="owner_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="template_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="group_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="project_category_code" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="send_date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="blocklist_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendTemplateWithBlockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendTemplateWithBlockResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendRemoteUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="owner_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="remoteurl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="remoteurlcharset" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="group_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="project_category_code" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="send_date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendRemoteUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendRemoteUrlResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendTemplateSoapIn">
    <wsdl:part name="parameters" element="tns:SendTemplate" />
  </wsdl:message>
  <wsdl:message name="SendTemplateSoapOut">
    <wsdl:part name="parameters" element="tns:SendTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="SendTemplateWithBlockSoapIn">
    <wsdl:part name="parameters" element="tns:SendTemplateWithBlock" />
  </wsdl:message>
  <wsdl:message name="SendTemplateWithBlockSoapOut">
    <wsdl:part name="parameters" element="tns:SendTemplateWithBlockResponse" />
  </wsdl:message>
  <wsdl:message name="SendRemoteUrlSoapIn">
    <wsdl:part name="parameters" element="tns:SendRemoteUrl" />
  </wsdl:message>
  <wsdl:message name="SendRemoteUrlSoapOut">
    <wsdl:part name="parameters" element="tns:SendRemoteUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="SendBatchSoap">
    <wsdl:operation name="SendTemplate">
      <wsdl:input message="tns:SendTemplateSoapIn" />
      <wsdl:output message="tns:SendTemplateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendTemplateWithBlock">
      <wsdl:input message="tns:SendTemplateWithBlockSoapIn" />
      <wsdl:output message="tns:SendTemplateWithBlockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendRemoteUrl">
      <wsdl:input message="tns:SendRemoteUrlSoapIn" />
      <wsdl:output message="tns:SendRemoteUrlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendBatchSoap" type="tns:SendBatchSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendTemplate">
      <soap:operation soapAction="http://mh.easyuse.com.tw/SendTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTemplateWithBlock">
      <soap:operation soapAction="http://mh.easyuse.com.tw/SendTemplateWithBlock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRemoteUrl">
      <soap:operation soapAction="http://mh.easyuse.com.tw/SendRemoteUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendBatchSoap12" type="tns:SendBatchSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendTemplate">
      <soap12:operation soapAction="http://mh.easyuse.com.tw/SendTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTemplateWithBlock">
      <soap12:operation soapAction="http://mh.easyuse.com.tw/SendTemplateWithBlock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRemoteUrl">
      <soap12:operation soapAction="http://mh.easyuse.com.tw/SendRemoteUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendBatch">
    <wsdl:port name="SendBatchSoap" binding="tns:SendBatchSoap">
      <soap:address location="http://email.3rdchannel.com.tw/mailhunter_api/SendBatch.asmx" />
    </wsdl:port>
    <wsdl:port name="SendBatchSoap12" binding="tns:SendBatchSoap12">
      <soap12:address location="http://email.3rdchannel.com.tw/mailhunter_api/SendBatch.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>